@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.page {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
}

.wrapper {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
}

/* Header style */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header__container {
  padding: 56px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  text-decoration: none;
  width: 82px;
  height: 31px;
}

.header__icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__item:not(:last-of-type) {
  margin: 0 82px 0 0;
}

.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

/* Intro style */

.intro {
  position: relative;
  min-height: 100vh;
  background-image: url(../images/bg-main.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 263px 0 0;
}

.intro__wrapper {
  box-sizing: border-box;
  padding: 0 0 370px 0;
}

.intro__title {
  margin: 0 0 22px 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  max-width: 619px;
}

.intro__text {
  margin: 0 0 59px 0;
  max-width: 546px;
  font-size: 16px;
  line-height: 24px
}

.intro__form {
  max-width: 889px;
  display: flex;
  justify-content: space-between;
}

.intro__item {
  position: relative;
  width: 297px;
  height: 49px;
}

.intro__item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.intro__input {
  width: 100%;
  height: 100%;
  padding: 0 5px 22px 53px;
  border: none;
  background-color: inherit;
  border-bottom: 3px solid #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.intro__input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.intro__input:focus {
  outline: 0;
}

.intro__btn {
  width: 171px;
  height: 58px;
  border: none;
  background-color: #1B7DFF;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
  transition: all .2s;
}

.intro__btn:hover {
  background-color: #2472d8;
}

.intro__btn:hover {
  cursor: pointer;
}

/*Benefits style */

.benefits {
  position: relative;
  width: 100%;
  margin: 0 auto 131px;
  box-sizing: border-box;
  padding: 0 0 111px 0;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  margin: 0;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  background-color: #fff;
  box-sizing: border-box;
  padding: 93px 100px 88px;
}

.benefits__list {
  list-style-type: none;
  margin: 0;
  padding: 32px 0 0 0;
  display: flex;
}

.benefits__card {
  max-width: 317px;
  margin: 0 55px 0 0;
}

.benefits__card:last-of-type {
  margin: 0;
}

.benefits__icon {
  display: block;
  width: 66px;
  height: 66px;
  margin: 0 0 37px 0;
}

.benefits__subtitle {
  max-width: 100%;
  margin: 0 0 26px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.benefits__text {
  margin: 0 0 39px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.benefits__btn {
  max-width: 161px;
}

.button {
  display: flex;
  align-items: center;
  border: none;
  background-color: inherit;
  margin: 0;
  padding: 0;
}

.button__text {
  margin: 0 26px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-transform: uppercase;
}

.button__icon {
  display: block;
  width: 33px;
  height: 8px;
}

/* Places styles */

.places {
  box-sizing: border-box;
  padding: 0 0 131px 0;
}

.places__caption {
  width: 100%;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 36px;
}

.subtitle {
  position: relative;
  margin: 0;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
}

.subtitle::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 0;
  width: 253px;
  height: 3px;
  background-color: #006DFE;
}

.places__title {
  margin: 0 10px 0 0;
}

.places__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.places__item {
  overflow: hidden;
}

.places__item_size_bg {
  grid-column: span 3;
}

.places__item_size_sm {
  grid-column: span 2;
}

.places__link {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.places__link:hover .places__image {
  transform: scale(1.03);
}

.places__card {
  position: relative;
  margin: 0;
}

.places__image {
  display: block;
  width: 100%;
  object-fit: cover;
  transition: all .2s;
}

.places__image_size_bg {
  height: 354px;
}

.places__image_size_sm {
  height: 283px;
}

.places__card::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(21, 24, 36, 0.4);
}

.places__name {
  position: absolute;
  bottom: 27px;
  left: 29px;
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  z-index: 10;
}