@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.page {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
}

.wrapper {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
}

.button {
  border: none;
  background-color: #1B7DFF;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  transition: all .2s;
}

.button:hover {
  background-color: #2472d8;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  opacity: .8;
}

.link__text {
  margin: 0 26px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.link__icon {
  display: block;
  width: 33px;
  height: 8px;
}

.subtitle {
  position: relative;
  min-height: 48px;
  margin: 0;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
}

.subtitle::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 0;
  width: 253px;
  height: 3px;
  background-color: #006DFE;
}

/* Header style */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header__container {
  padding: 56px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  text-decoration: none;
  width: 82px;
  height: 31px;
}

.header__icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__item:not(:last-of-type) {
  margin: 0 82px 0 0;
}

.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

/* Intro style */

.intro {
  position: relative;
  min-height: 100vh;
  background-image: url(../images/bg-main.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 263px 0 0;
}

.intro__wrapper {
  box-sizing: border-box;
  padding: 0 0 370px 0;
}

.intro__title {
  margin: 0 0 22px 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  max-width: 619px;
}

.intro__text {
  margin: 0 0 59px 0;
  max-width: 546px;
  font-size: 16px;
  line-height: 24px
}

.intro__form {
  max-width: 889px;
  display: flex;
  justify-content: space-between;
}

.intro__item {
  position: relative;
  width: 297px;
  height: 49px;
}

.intro__item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.intro__input {
  width: 100%;
  height: 100%;
  padding: 0 5px 22px 53px;
  border: none;
  background-color: inherit;
  border-bottom: 3px solid #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.intro__input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.intro__input:focus {
  outline: 0;
}

.intro__btn {
  box-sizing: border-box;
  padding: 15px 39px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

/*Benefits style */

.benefits {
  position: relative;
  width: 100%;
  margin: 0 auto 131px;
  box-sizing: border-box;
  padding: 0 0 111px 0;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  margin: 0;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  background-color: #fff;
  box-sizing: border-box;
  padding: 93px 100px 88px;
}

.benefits__list {
  list-style-type: none;
  margin: 0;
  padding: 32px 0 0 0;
  display: flex;
}

.benefits__card {
  max-width: 317px;
  margin: 0 55px 0 0;
}

.benefits__card:last-of-type {
  margin: 0;
}

.benefits__icon {
  display: block;
  width: 66px;
  height: 66px;
  margin: 0 0 37px 0;
}

.benefits__subtitle {
  max-width: 100%;
  margin: 0 0 26px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.benefits__text {
  margin: 0 0 39px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.benefits__btn {
  max-width: 161px;
}

.benefits__link-text {
  color: #006DFE;
}

/* Places styles */

.places {
  box-sizing: border-box;
  padding: 0 0 131px 0;
}

.places__caption {
  width: 100%;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 36px;
}

.places__title {
  margin: 0 10px 0 0;
}

.places__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.places__item {
  overflow: hidden;
}

.places__item_size_bg {
  grid-column: span 3;
}

.places__item_size_sm {
  grid-column: span 2;
}

.places__link {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.places__link:hover .places__image {
  transform: scale(1.03);
}

.places__card {
  position: relative;
  margin: 0;
}

.places__image {
  display: block;
  width: 100%;
  object-fit: cover;
  transition: all .2s;
}

.places__image_size_bg {
  height: 354px;
}

.places__image_size_sm {
  height: 283px;
}

.places__link-text {
  color: #006DFE;
}

.places__card::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(21, 24, 36, 0.4);
}

.places__name {
  position: absolute;
  bottom: 27px;
  left: 29px;
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  z-index: 10;
}

/* Tour style */

.tour {
  box-sizing: border-box;
  padding: 0 0 139px 0;
}

.tour__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tour__item {
  display: flex;
  gap: 65px;
}

.tour__item:not(:last-of-type) {
  margin: 0 0 77px 0;
}

.tour__item_reverse {
  flex-direction: row-reverse;
}

.tour__image-container {
  width: 597px;
  height: 354px;
}

.tour__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tour__info {
  max-width: 610px;
  box-sizing: border-box;
  padding: 26px 42px 0 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tour__title {
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #102746;
}

.tour__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
}

.tour__link {
  color: #006DFE;
}

/* Top styles */

.top {
  box-sizing: border-box;
  padding: 0 0 144px 0;
}

.top__title {
  margin: 0 0 54px 0;
}

.top__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 392px);
  gap: 58px 48px;
}

.top__item {
  max-width: 392px;
  box-sizing: border-box;
  padding: 15px;
}

.top__container-image {
  position: relative;
  width: 386px;
  height: 377px;
  margin: 0 0 45px 0;
}

.top__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: space-between;
  gap: 14px;
  box-sizing: border-box;
  padding: 15px 25px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.top__subtitle {
  margin: 0;
  flex-grow: 1;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.top__status {
  display: flex;
  align-items: center;
}

.top__count {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0 9px 0 0;
}

.top__icon {
  display: block;
  width: 14px;
  height: 14px;
  object-fit: contain;
}

.top__text {
  margin: 0 0 31px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
}

.top__btn {
  box-sizing: border-box;
  padding: 12px 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* Video styles */

.video {
  position: relative;
  max-width: 1440px;
  width: 100%;
  padding: 42% 0 0 0;
  margin: 0 auto;
}

.video__iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}