@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.page {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
}

.wrapper {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
}

/* Header style */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header__container {
  padding: 56px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  text-decoration: none;
  width: 82px;
  height: 31px;
}

.header__icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__item:not(:last-of-type) {
  margin: 0 82px 0 0;
}

.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

/* Intro style */

.intro {
  position: relative;
  min-height: 100vh;
  background-image: url(../images/bg-main.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.intro::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%);
}